{% extends "experiences/base.html" %}
{% load staticfiles %}


{% block content %}
<body>

    <div id="submit" class="collapse">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <div class="panel panel-default">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <br><br>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Title</label>
                            <div class="col-md-10">
                                {{ form.title }}
                                <span class="help-block">Enter a title for your story</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="selectbasic">Real Estate</label>
                            <div class="col-md-10">
                                {{ form.real_estate }}
                                <span class="help-block">Select the Real Estate (press new if not in the list) </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Quote</label>
                            <div class="col-md-10">
                                {{ form.quote }}
                                <span class="help-block">Enter an optional quote</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textarea">Story</label>
                            <div class="col-md-10">
                                {{ form.body }}
                                <span class="help-block">Enter your story here</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="filebutton">Image</label>
                            <div class="col-md-10">
                                {{ form.image }}
                                <span class="help-block">Upload an optional image</span>
                            </div>
                        </div>

                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" >Real Estate Fail</a>
          <p class="lead">Have you had a horrific experience with your real estate? Let the world know!</p></h1>
      </div>
      <div class="col col-sm-6">
<!--        <div class="well pull-right">
          <img src="//placehold.it/280x100/E7E7E7">
        </div>
-->
      </div>
    </div>
  </div>



<!--  <div class="container">
	<div class="row">
      <div class="col col-sm-12">

        <div class="panel">
        <div class="panel-body">
          You may want to put some news here  <span class="glyphicon glyphicon-heart-empty"></span>
-->
</header>

<!-- Begin Body -->
<div class="container">
    <div class="row">
        <div class="col col-sm-3">
            <div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight"> Recent Failures </h3></li>
                        {% for recent_experience in recent_experiences %}
                  	        <li><a href="#{{ recent_experience.pk }}">{{ recent_experience.title }}</a></li>
          			    {% endfor %}
				</ul>
               </div>
      	</div>


    <div class="col col-sm-9">



        {% for experience in experiences_list %}
            <div class="panel">
            <a name="{{ experience.pk }}"></a>
                <h1> {{ experience.title }} </h1>
                <h4> {{ experience.real_estate.friendly_name }} </h4>
                <br>

                <div class="row">
                    <div id="accordion_{{ experience.pk }}" class="panel-group">

                        <div class="panel panel-default">
                            <div class="panel-collapse collapse in">
                                <div class="row">
                                    <div class="col col-sm-6">
                                        {% if experience.image %}
                                            <img src="{{ experience.image.url }}" class="img-responsive">
                                        {% else %}
                                            <img src="{% static 'experiences/img/generic.jpg'  %}" class="img-responsive">
                                        {% endif %}
                                    </div>

                                    <br><br><br><br>

                                    <div class="col col-sm-6">
                                        {% if experience.quote %}
                                            <div class="panel-collapse collapse in">
                                                <h3><i>&quot{{ experience.quote }}&quot </i></h3>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in">
                                    <br>
                                    {{ experience.body|slice:":150" }}
                                </div>
                            </div>



                            <div id="storyFull_{{ experience.pk }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ experience.body }}
                                </div>
                            </div>

                            <div id="storySummary_{{ experience.pk }}" class="panel-collapse collapse in">
                                <div class="panel-body">

                                </div>
                            </div>

                        <button class="btn btn-default" data-toggle="collapse" data-target="#storyFull_{{ experience.pk }}" data-parent="#accordion_{{ experience.pk }}">Read</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>





	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{% static 'experiences/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'experiences/js/scripts.js' %}"></script>


	</body>
{% endblock content %}
</html>